<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Customer</title>
</head>
<body>
    <h2>Delete Customer</h2>
    <form id="deleteForm">
        <label for="customerId">Customer ID:</label><br>
        <input type="number" id="customerId" name="customerId"><br><br>

        <input type="submit" value="Delete">
    </form>

    <script>
        document.getElementById("deleteForm").addEventListener("submit", function(event) {
            event.preventDefault(); 
            var customerId = document.getElementById("customerId").value;
            fetch(`http://localhost:4242/customer/delete/${customerId}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                alert('Customer deleted successfully!');
            })
            .catch(error => {
                console.error('Error deleting customer:', error);
                alert('Error deleting customer. Please try again later.');
            });
        });
    </script>
</body>
</html>
